#page_wrapper
  #profile_image
    = image_tag "profile.jpeg"

  #content
    %h1 It's Mr. Stick Figure
    %p Green juice deep v aesthetic pinterest, keffiyeh post-ironic pickled bicycle rights subway tile skateboard. Trust fund intelligentsia cardigan, +1 letterpress normcore synth williamsburg. Venmo kogi salvia cloud bread. Selvage hammock drinking vinegar, irony paleo woke humblebrag lyft tilde hashtag disrupt art party.
